* text eol=lf

*.ico binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.avif binary
*.webp binary
*.mp4 binary
*.webm binary
*.mp3 binary
*.wav binary
*.aac binary
*.ogg binary
*.opus binary
