body {
    padding-bottom: 2em;
}

h1 {
    margin: 0;
}

h3 {
    margin: 1em 0 0;
}

.navbar {
    margin-top: 1em;
}

.navbar-section {
    padding: 0 1em;
}

th.tcol {
    width: 80px;
}

img.icon {
    height: 16px;
    vertical-align: -2px;
    width: 16px;
}
