h1 {
    margin: .5em 0 0;
}

h3 {
    margin: 1em 0 0;
}

.navbar-section {
    padding: 0 1em;
}

th.tcol {
    width: 80px;
}

img.icon {
    height: 16px;
    vertical-align: -2px;
    width: 16px;
}
